/*

COLORS

*/

$pallette-gray: #f7f7f7;
$pallette-gray-warmer: #f0efe9;
$pallette-gray-darker: #e9eae8;
$pallette-white: #ffffff;
$pallette-gray-text: #93958d;
$pallette-gray-text-warmer: #424239;
$pallette-gray-text-darker: #32332a;
$pallette-yellow: #ebb60a;

body {
  font-family: "Nunito", sans-serif;
}

.w-full {
  width: 100%;
}
.page-width {
  width: 100%;
  max-width: 1440px;
}
.font-black {
  font-weight: 900;
}
.font-medium {
  font-weight: 500;
}
.font-size-20px {
  font-size: 1.25rem;
}
.font-size-16px {
  font-size: 1rem;
}
.font-size-14px {
  font-size: 0.875rem;
}
.font-gray-text-darker {
  color: $pallette-gray-text-darker;
}
.font--gray-text-warmer {
  color: $pallette-gray-text-warmer;
}
.font--yellow {
  color: $pallette-yellow;
}
.text-transform-none {
  text-transform: none;
}
.bg-pallette-gray {
  background-color: $pallette-gray;
}
.bg-pallette-gray-darker {
  background-color: $pallette-gray-darker;
}
.bg-pallette-gray-warmer {
  background-color: $pallette-gray-warmer;
}
.bg-pallette-white {
  background-color: $pallette-white;
}
.bg-pallette-yellow {
  background-color: $pallette-yellow;
}
.q-py-xxl {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.q-px-xxl {
  padding-right: 5rem;
  padding-left: 5rem;
}
.q-pa-xxl {
  padding: 5rem;
}
.q-px-8-75 {
  padding-left: 8.75rem;
  padding-right: 8.75rem;
}
.min-h-auto {
  min-height: auto;
}

.border-radius-16px {
  border-radius: 1rem;
}

.nav-button-popup {
  z-index: 5;
  transform: translateY(115%) translateX(-40%);
  width: 560px;
  transition: 0.2s;
  visibility: hidden;
  opacity: 0;
  color: $pallette-gray-text-darker;
  box-shadow: 0 2px 10px 1px
    rgba($color: $pallette-gray-text-darker, $alpha: 0.15);
}

.nav-button {
  position: relative;
  background-color: transparent;
  color: $pallette-gray-text;
  border: none;
  transition: 0.3s;
  &:hover {
    background-color: $pallette-gray-darker;
    color: $pallette-gray-text-darker;
    .nav-button-popup {
      transform: translateY(100%) translateX(-40%);
      cursor: auto;
      visibility: visible;
      opacity: 1;
    }
  }
  .yellow-icon {
    color: #ebb60a;
    width: 10px;
  }
}
.ghost-btn-stacked {
  line-height: 1.1;
}

.contact-page {
  padding-left: 8.75rem;
  padding-right: 8.75rem;
}
.contact-page-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.padding-r-100px {
  padding-right: 6.25rem;
}
